<!-- widget post carousel -->
<div class="widget rounded">
  <div class="widget-header text-center">
    <h3 class="widget-title">Celebration</h3>
    <img src="assets/images/wave.svg" class="wave" alt="wave" />
  </div>

  <div class="widget-content">
    <div class="post-carousel-widget">
      <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let post of data.slice(50,52)">
          <ng-template carouselSlide [id]="data.id">
            <!-- post -->
            <div class="post post-carousel">
              <div class="thumb rounded">
                <a routerLink="/category"
                  class="category-badge position-absolute">{{post?.attributes?.category?.data?.attributes.title}}</a>
                <a [routerLink]="['/blog-single',post.id]">
                  <div class="inner">
                    <img src={{post?.attributes?.image?.data[0]?.attributes?.name}} alt="post-title" />
                  </div>
                </a>
              </div>
              <h5 class="post-title mb-0 mt-4"><a
                  [routerLink]="['/blog-single',post.id]">{{post?.attributes?.heading}}</a>
              </h5>
              <ul class="meta list-inline mt-2 mb-0">
                <li class="list-inline-item"><a routerLink="#">{{post?.attributes?.author}}</a></li>
                <li class="list-inline-item">{{post?.attributes?.date}}</li>
              </ul>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>

  <!-- carousel arrows -->
  <!-- <div class="slick-arrows-bot">
  <button type="button" data-role="none" class="carousel-botNav-prev slick-custom-buttons"
    aria-label="Previous"><i class="icon-arrow-left"></i></button>
  <button type="button" data-role="none" class="carousel-botNav-next slick-custom-buttons"
    aria-label="Next"><i class="icon-arrow-right"></i></button>
</div> -->